{% extends 'main_site/base.html' %}
{% load posts_smartphones %}

{%block title%}
<title>Handyvergleich &#8211; und mehr</title>
{%endblock%}

{% block main_content_on_the_page %}
    <h3>Handyvergleich und mehr</h3>
    <div class="cards">
        <div class="row">
            {% for post in posts%}
            <div class="col-md-4 card-col">
                <div class="card" style="width: 18rem;">
                    
                    {% if post.image %}
                        <img src="{{post.image}}" class="card-img-top" alt="...">
                    {% else %}
                        <img src="https://fdn.gsmarena.com/imgroot/reviews/21/samsung-galaxy-a32-5g/lifestyle/-1024w2/gsmarena_006.jpg" class="card-img-top" alt="...">
                    {%endif%}
                
                    <div class="card-body">
                        <h5 class="card-title">{{post.post_title}}</h5>
                        <p class="card-text">{{post.post_content|slice:"200:250"}}</p>
                        <a href="/post/{{post.slug}}" class="btn btn-primary">Post lesen</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="nav2">
        <a href="/"><button type="button" class="btn btn-outline-secondary">Anfang</button></a>
        {%for page in pagination%}
        {% if page > 1 and page < last_page %}
        {% if page == current_page %}
        <button type="button" class="btn btn-secondary"
            disabled>{{page}}</button>
            {%else%}
            <a href="?page={{page}}"><button type="button" class="btn btn-outline-secondary">{{page}}</button></a>
            {%endif%}
            {% endif %}
            {%endfor%}
            <span>...... </span><a href="?page={{last_page}}"><button type="button"
                    class="btn btn-outline-secondary">{{last_page}}</button></a>
    </div>

{% endblock %}